# Dependencias de Node
/node_modules
/npm-debug.log
.npmrc

# Directorios de compilación y salida (Vite)
/dist
/build
/out

# Archivos de configuración y caché específicos del desarrollador
.DS_Store
.env
.env.*
.idea/
.vscode/

# Historial de Vite
.vitepress/cache
/temp